:root{
    --rmp-primary: black;
    --rmp-secondary: #a9121c;
    --rmp-secondary-dark: #e30615d5;
    --rmp-primary-rgb: 0, 0, 0;
    --rmp-secondary-rgb: 169, 18, 28;

    --background-primary: white;
    --background-secondary: rgb(250, 250, 250);
}

/* Fonts start */
@font-face {
    font-family: 'Lustra Text';
    src: local('Lustra Text Regular'), local('LustraText-Regular'), url('../../fonts/lustra-text.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url('../../fonts/OpenSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
/* Fonts end */

html, body {
    height: 95%;
    background-color: var(--background-primary);
    font-family: 'Lustra Text', sans-serif;
}

#main{
    min-height: 100%;
}

#content{
    background-color: var(--background-secondary);
    min-height: 100%;
}

a {
    color: var(--rmp-secondary);
}

a:hover{
    color: var(--rmp-secondary-dark);
}

/* Formatting box start */
.overflow-x{
    word-wrap: break-word;
}

.overflow-y{
    overflow-y: scroll;
}

.half{
    max-width: 50%;
}

.end-scroll{
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.end-scroll > :first-child{
    margin-top: auto !important;
}
/* Formatting box end */

/* Nav start */
.nav-link{
    color: var(--rmp-secondary);
}

.nav-link:hover:not(.disabled):not(.active){
    color: var(--rmp-secondary);
    background-color: var(--background-secondary);
}

.nav-link.active{
    color: black;
    cursor: default;
}
/* Nav end */

/* Inputs start */

textarea{
    resize: none;
}

::placeholder{
    font-family: 'Open Sans', sans-serif;   
}

/* Inputs end */

/* Buttons start */
.btn-rmp{
    color: white;
}

.btn-rmp:hover, .btn-rmp:checked{
    background-color: var(--rmp-secondary-dark);
    color: white;
}

.btn-rmp-primary{
    background-color: var(--rmp-primary);
}

.btn-rmp-secondary{
    background-color: var(--rmp-secondary);
}
/* Buttons end */

/* Banner start */
#banner{
    background-color: var(--background-secondary);
}

.triangle{
    width: 0;
    height: 0;
}

.triangle.triangle-left {
    border-top: 100px solid var(--rmp-secondary);
    border-right: 100px solid transparent;
}

.triangle.triangle-right {
  border-bottom: 100px solid var(--rmp-secondary);
  border-left: 100px solid transparent;
}

.parallelogram {
    width: 50px;
    height: 100px;
    transform: skew(-45deg);
    background: var(--rmp-secondary);
}
/* Banner end */

/* Footer start */
footer {
    background-color: var(--background-secondary);
}
/* Footer end */


/* Debug start */
.debug{
    border: 1px black solid;
}
/* Debug end */
