
    <footer class="text-center p-4 mt-4 border">
        <p class="mb-0">
            <img src="/images/RMP_logo.png" alt="RMP Logo" class="rounded float-left" style="width: 3%;">
            Copyrights © 2025 -  Root-Me Pro - all rights reserved
        </p>
    </footer>
